html {
    font-size: 16px;
}
body {
    padding: 0;
    font: 16px "Roboto", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

/*STYLE RESET END*/
@font-face {
  font-family: 'Roboto';
  src: url("http://test7.airweb.studio/fonts/Roboto-Regular.eot");
  src: url("http://test7.airweb.studio/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("http://test7.airweb.studio/fonts/Roboto-Regular.woff2") format("woff2"), url("http://test7.airweb.studio/fonts/Roboto-Regular.woff") format("woff"), url("http://test7.airweb.studio/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("http://test7.airweb.studio/fonts/Roboto-MediumItalic.eot");
  src: url("http://test7.airweb.studio/fonts/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("http://test7.airweb.studio/fonts/Roboto-MediumItalic.woff2") format("woff2"), url("http://test7.airweb.studio/fonts/Roboto-MediumItalic.woff") format("woff"), url("http://test7.airweb.studio/fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("http://test7.airweb.studio/fonts/Roboto-Black.eot");
  src: url("http://test7.airweb.studio/fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("http://test7.airweb.studio/fonts/Roboto-Black.woff2") format("woff2"), url("http://test7.airweb.studio/fonts/Roboto-Black.woff") format("woff"), url("http://test7.airweb.studio/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("http://test7.airweb.studio/fonts/Roboto-LightItalic.eot");
  src: url("http://test7.airweb.studio/fonts/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("http://test7.airweb.studio/fonts/Roboto-LightItalic.woff2") format("woff2"), url("http://test7.airweb.studio/fonts/Roboto-LightItalic.woff") format("woff"), url("http://test7.airweb.studio/fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("http://test7.airweb.studio/fonts/Roboto-BoldItalic.eot");
  src: url("http://test7.airweb.studio/fonts/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("http://test7.airweb.studio/fonts/Roboto-BoldItalic.woff2") format("woff2"), url("http://test7.airweb.studio/fonts/Roboto-BoldItalic.woff") format("woff"), url("http://test7.airweb.studio/fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("http://test7.airweb.studio/fonts/Roboto-Medium.eot");
  src: url("http://test7.airweb.studio/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("http://test7.airweb.studio/fonts/Roboto-Medium.woff2") format("woff2"), url("http://test7.airweb.studio/fonts/Roboto-Medium.woff") format("woff"), url("http://test7.airweb.studio/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("http://test7.airweb.studio/fonts/Roboto-Bold.eot");
  src: url("http://test7.airweb.studio/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("http://test7.airweb.studio/fonts/Roboto-Bold.woff2") format("woff2"), url("http://test7.airweb.studio/fonts/Roboto-Bold.woff") format("woff"), url("http://test7.airweb.studio/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("http://test7.airweb.studio/fonts/Roboto-ThinItalic.eot");
  src: url("http://test7.airweb.studio/fonts/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"), url("http://test7.airweb.studio/fonts/Roboto-ThinItalic.woff2") format("woff2"), url("http://test7.airweb.studio/fonts/Roboto-ThinItalic.woff") format("woff"), url("http://test7.airweb.studio/fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("http://test7.airweb.studio/fonts/Roboto-Thin.eot");
  src: url("http://test7.airweb.studio/fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("http://test7.airweb.studio/fonts/Roboto-Thin.woff2") format("woff2"), url("http://test7.airweb.studio/fonts/Roboto-Thin.woff") format("woff"), url("http://test7.airweb.studio/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("http://test7.airweb.studio/fonts/Roboto-Italic.eot");
  src: url("http://test7.airweb.studio/fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("http://test7.airweb.studio/fonts/Roboto-Italic.woff2") format("woff2"), url("http://test7.airweb.studio/fonts/Roboto-Italic.woff") format("woff"), url("http://test7.airweb.studio/fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("http://test7.airweb.studio/fonts/Roboto-BlackItalic.eot");
  src: url("http://test7.airweb.studio/fonts/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("http://test7.airweb.studio/fonts/Roboto-BlackItalic.woff2") format("woff2"), url("http://test7.airweb.studio/fonts/Roboto-BlackItalic.woff") format("woff"), url("http://test7.airweb.studio/fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("http://test7.airweb.studio/fonts/Roboto-Light.eot");
  src: url("http://test7.airweb.studio/fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("http://test7.airweb.studio/fonts/Roboto-Light.woff2") format("woff2"), url("http://test7.airweb.studio/fonts/Roboto-Light.woff") format("woff"), url("http://test7.airweb.studio/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Intro';
  src: url("http://test7.airweb.studio/fonts/Intro.eot");
  src: url("http://test7.airweb.studio/fonts/Intro.eot?#iefix") format("embedded-opentype"), url("http://test7.airweb.studio/fonts/Intro.woff2") format("woff2"), url("http://test7.airweb.studio/fonts/Intro.woff") format("woff"), url("http://test7.airweb.studio/fonts/Intro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}




h1, h2 {
    font-size: 21px;
    text-transform: uppercase;
    color: #03569e;
    font-family: "Intro", sans-serif;
    text-align: center;
}
 p {
    color: #03569e;
}

.btn {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-family: "Intro", sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #ef2f3d;
  padding: 22px 45px;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  font-size: 1rem;
  margin-top: 1rem;
  border: 0;
}

.btn:hover {
  background-color: #da111f;
}

.btn:focus {
  background-color: #da111f;
}

.delete-photo {
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 0;
    top: -11px;
    margin-top: 0;
    right: 0;
}
.delete-photo:after, .delete-photo:before {
    content: '';
    width: 15px;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0) rotate(45deg);
}
.delete-photo:before {
    transform: translate(-50%,0) rotate(-45deg);
}

.choose-file, .btn-info{
    background-color: rgba(255, 0, 0, 0);
    color: #ef2f3d;
    padding: 0;
    text-align: left;
    text-transform: none;
    font: 16px "Roboto", sans-serif;
    text-decoration: underline;
    text-align: center;
}
.choose-file:hover, .btn-info:hover{
    background-color: rgba(255, 0, 0, 0);
    color: #ef2f3d;
}
.choose-file:before, .btn-info:before{
    content: '+';
}
.btn-success {
    font-size: .7rem;
    padding: 22px 0px;
}
.btn-info {
    display: none;
}
