<div class="dates">
    <div class="dates__item">
        <div class="img">
            <img src="../img/prize.svg" alt="">
        </div>
        <div class="description">Дата следующего<br>еженедельного розыгрыша</div>
        <div class="date title title_sub">06.01.2019</div>
    </div>
    <div class="dates__item">
        <div class="img">
            <img src="../img/win-cup.svg" alt="">
        </div>
        <div class="description">Дата розыгрыша<br>Главного приза</div>
        <div class="date title title_sub">11.02.2019</div>
    </div>
</div>