<header class="header">
	<div class="container">
		<div class="header__wrap">
			<div class="wrapper-burger">
				<a class="header__burger" href="#">
					<span class="icon-mob-menu">
						<span class="path"></span>
						<span class="path"></span>
						<span class="path"></span>
					</span>
					<span class="burger-text">Меню</span>
					<span class="burger-text burger-text_close">Закрыть</span>
				</a>
			</div>
			<nav class="nav">
				<div class="favorite-wrapper">
					<div class="btn favorite">
						<div class="favorite__visible">
							<svg width="16" height="15">
								<defs>
									<path id="a" d="M36 16.998l2.474 4.937 5.53.791-4.002 3.843.945 5.425L36 29.433l-4.946 2.561L32 26.57l-4.001-3.843 5.53-.791z" />
								</defs>
								<use fill="#48c2f4" xlink:href="#a" transform="translate(-28 -17)" />
							</svg>
							<pre class="favorite__text">В избранное</pre>
						</div>
						<div class="favorite__invisible">
							<a id="bookmarkme" href="#" rel="sidebar" class="btn btn_min pointer">Добавить</a>
							<a href="#" class="favorite__info link link_min">Что делать, если сайт
								не добавляется</a>
						</div>
					</div>
				</div>
				<a class="nav__link active" href="index.html">Главная</a> <!-- Active link - .active -->
				<a class="nav__link" href="winter-barni.html">Зимний барни</a>
				<a class="nav__link" href="rules.html">Правила и призы</a>
				<a class="logo" href="#">
					<img src="img/logo.png" alt="">
				</a>
				<a class="nav__link" href="winners.html">Победители</a>
				<a class="nav__link" href="product.html">Продукт</a>
				<div class="nav__link js-popup-button pointer" data-popupshow="feedback" href="">Обратная связь</div>
				<div class="personal-area personal-area_mobile">
					<!-- Для залогиненого юзера добавить класс - .login -->
					<div class="personal-area__text_v2">
						<img src="/img/barni-head.png" alt="">
						<p>В ЛИЧНЫЙ КАБИНЕТ</p>
					</div>
				</div>
			</nav>
			<a class="logo logo_mob" href="#">
				<img src="img/logo.png" alt="">
			</a>
			<div class="personal-area js-popup-button pointer" data-popupshow="entrance">
				<div class="personal-area__text">
					<img src="/img/barni-head.png" alt="">
					<p>Войти</p>
				</div>
			</div>
			<div class="personal-area-photo">
				<!-- Для залогиненого юзера добавить класс - .login-photo -->
				<span class="icon-Combined_Shape personal-area-photo_icon"></span>
			</div>
		</div>
	</div>
</header>