<!-- Cookies -->
<div class="cookies">
    <div class="container">
        <div class="cookies__text">
            <p>Мы используем технологию «cookies», чтобы упростить навигацию на нашем сайте. Чтобы принять политику
                “сookies” нажимите кнопку ниже или продолжите навигацию по сайту. Чтобы узнать больше о том, как мы
                используем “сookies”, <a href="#">нажмите здесь</a></p>
        </div>
        <a href="#" class="btn btn_cook">Хорошо</a>
    </div>
</div>

<!-- Popup -->
<div class="popup entrance">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
        </div>
        <div class="title">
            <span>Войти на сайт</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Мобильный телефон</span>
                    </div>
                    <div class="form__input">
                        <input type="tel" name="phone">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Пароль</span>
                    </div>
                    <div class="form__input">
                        <i class="js-pass">
                            <span id="open-eye" class="icon-show_password"></span>
                            <span id="close-eye" class="icon-Hide_password"><span class="path1"></span><span class="path2"></span></span>
                        </i>
                        <input type="password" name="password">
                    </div>
                </div>
                <div class="text text_alignr">
                    <a href="#">Забыл пароль?</a>
                </div>
                <div class="wrapper-btn">
                    <button type="submit" class="btn" disabled="disabled">Войти</button>
                </div>
                <div class="form__text description">
                    <p>Впервые на нашем сайте?</p>
                    <a href="#" class="description link js-popup-button" data-popupShow="reg-step-1">Зарегистрируйтесь!</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Актиный попап - .js-popup-show-->

<div class="popup reg-step-1">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
        </div>
        <div class="title">
            <span>Давайте<br>знакомиться!</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__text form__text--minMargin description">
                    <p>Заполните, пожалуйста, форму регистрации.</p>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Фамилия</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="surname">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Имя</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="name">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Отчество</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="name">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Адрес электронной почты</span>
                    </div>
                    <div class="form__input">
                        <input type="email" name="email">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Придумайте пароль</span>
                    </div>
                    <div class="form__input">
                        <i class="js-pass">
                            <span id="open-eye" class="icon-show_password"></span>
                            <span id="close-eye" class="icon-Hide_password"><span class="path1"></span><span class="path2"></span></span>
                        </i>
                        <input type="password" name="password" aria-required="true" class="success" aria-describedby="password-error"
                            aria-invalid="false"><span style="display: none;">
                            <div id="password-error" class="error" style="display: none;"></div>
                        </span>
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Повторите пароль</span>
                    </div>
                    <div class="form__input">
                        <i class="js-pass">
                            <span id="open-eye" class="icon-show_password"></span>
                            <span id="close-eye" class="icon-Hide_password"><span class="path1"></span><span class="path2"></span></span>
                        </i>
                        <input type="password" name="password" aria-required="true" class="success" aria-describedby="password-error"
                            aria-invalid="false"><span style="display: none;">
                            <div id="password-error" class="error" style="display: none;"></div>
                        </span>
                    </div>
                </div>
                <div class="form__card">
                    <label class="checkbox">
                        <input type="checkbox" name="rules" required />
                        <div class="description checkbox__text">Я согласен c <a class="link" href="#">Правилами акции</a></div>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="personalAgreement" required />
                        <div class="description checkbox__text">Я согласен на обработку моих персональных данных</div>
                    </label>
                </div>
                <div class="captcha">
                    <div class="form__text form__text--noMargin captcha_text">
                        <p>Введи символы с картинки:</p>
                    </div>
                    <div class="captcha__wrap flex-cont align-center justify-sb">
                        <div class="captcha__img flex-cont align-c">
                            <img src="img/nomber_captcha.jpg" alt="">
                        </div>
                        <div class="captcha__send">
                            <input class="captcha__input" type="text" name="captcha">
                        </div>
                    </div>
                </div>
                <div class="wrapper-btn">
                    <button type="submit" class="btn btn_narrow" disabled="disabled">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup reg-step-2">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
        </div>
        <div class="title">
            <span>Регистрация</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__text form__text--minMargin description">
                    На ваш электронный адрес отправлена Барни-ссылка.
                    <br>
                    <br>
                    Пройдите по ссылке, закончите регистрацию и чувствуйте себя
                    у Барни как дома!

                </div>
                <div class="wrapper-btn">
                    <button type="submit" class="btn" disabled="disabled">Понятно</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popup reg-step-3">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
            <span class="icon-close-btn"></span>
        </div>
        <div class="title">
            <span>УРА!</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__text form__text--minMargin description">
                    Регистрация прошла успешно.

                </div>
                <div class="wrapper-btn">
                    <button type="submit" class="btn" disabled="disabled">Загрузить чек</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup reg-winner">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
        </div>
        <div class="title">
            <span>Поздравляем!</span>
        </div>
        <div class="form form--popupMargin">
            <div class="form__text form__text--minMargin description">
                <p>Вас ждет приз от медвежонка<br> Барни! Просто загляните<br><a class="link">в Личный кабинет.</a>
                </p>
            </div>
            <div class="wrapper-btn">
                <a href="#" class="btn">Спасибо</a>
            </div>
            <div class="social">
                <p class="social__text description">Поделитесь радостью с друзьями:</p>
                <ul class="social__icon flex-cont justify-c">
                    <li>
                        <a href="#">
                            <img src="../img/svg/vk.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../img/svg/fb.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../img/svg/od.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="popup feedback">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
        </div>
        <div class="title">
            <span>Обратная связь</span>
        </div>
        <form class="form-wrap">
            <div class="form form--popupMargin">
                <form>
                    <div class="form__text form__text--minMargin description">
                        <p>У вас есть вопросы? Пишите,<br> медвежонок Барни обязательно<br> ответит!
                        </p>
                    </div>
                    <div class="form__card">
                        <div class="form__tips">
                            <span>Электронная почта</span>
                        </div>
                        <div class="form__input">
                            <input type="email" name="email">
                        </div>
                    </div>
                    <div class="form__card">
                        <div class="form__tips">
                            <span>Тема</span>
                        </div>
                        <div class="form__input">
                            <select>
                                <option>Выберите из списка</option>
                                <option>Вопрос по работе сайта</option>
                                <option>Вопрос по продукту</option>
                                <option>Вопрос по правилам акции</option>
                                <option>Вопрос по продукту</option>
                                <option>Вопрос по призам</option>
                                <option>Другое</option>
                            </select>
                        </div>
                    </div>
                    <div class="form__card">
                        <div class="form__tips">
                            <span>Текст</span>
                        </div>
                        <div class="form__input">
                            <textarea required></textarea>
                        </div>
                    </div>
                    <div class="captcha">
                        <div class="form__text form__text--noMargin captcha_text">
                            <p>Введи символы с картинки:</p>
                        </div>
                        <div class="captcha__wrap flex-cont align-center justify-sb">
                            <div class="captcha__img flex-cont align-c">
                                <img src="img/nomber_captcha.jpg" alt="">
                            </div>
                            <div class="captcha__send">
                                <input class="captcha__input" type="text" name="captcha">
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-btn">
                        <button type="submit" class="btn" disabled="disabled">Отправить</button>
                    </div>
                </form>
            </div>
        </form>
    </div>
</div>

<div class="popup add-barni js-popup-show">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
        </div>
        <div class="title">
            <span>Создать Зимнего
                барни</span>
        </div>
        <form class="form-wrap">
            <div class="form form--popupMargin">
                <form>
                    <div class="form__text form__text--minMargin description">
                        <p>У вас есть <span class="try-number">3</span> возможности<br> загрузить Зимнего Барни:

                        </p>
                    </div>
                    <div class="form__card upload-file-card">
                        <div class="btn btn_close pointer"></div>
                        <label class="form__input">
                            <input class="upload-file" type="file">
                            <img class="upload-file-img" src="" height="200">
                            <div class="upload-file-bg pointer">
                                <img src="../img/svg/uploadfileimg.svg" alt="">
                                <p>Загрузить<br>фотографию</p>
                            </div>
                        </label>
                    </div>
                    <div class="form__card">
                        <div class="form__tips">
                            <span>Название работы</span>
                        </div>
                        <div class="form__input">
                            <input type="text" name="text">
                        </div>
                    </div>
                    <div class="wrapper-btn">
                        <button type="submit" class="btn" disabled="disabled">Отправить</button>
                    </div>
                </form>
            </div>
        </form>
    </div>
</div>

<div class="popup add-barni-2">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup">
        </div>
        <div class="title">
            <span>Создать Зимнего<br>
                барни</span>
        </div>
        <div class="form form--popupMargin">
            <div class="form__text form__text--minMargin description">
                <div class="loaded-img">
                    <img src="../img/mishka-kosolapyj.jpg" alt="">
                </div>
                <p>Ура! Ваш Барни загружен! <br>
                    Следить за статусом работы вы<br> можете в <a class="link">в Личный кабинет.</a>
                </p>
            </div>
            <div class="social">
                <p class="social__text description">Поделитесь радостью с друзьями:</p>
                <ul class="social__icon flex-cont justify-c">
                    <li>
                        <a href="#">
                            <img src="../img/svg/vk.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../img/svg/fb.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../img/svg/od.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="popup work">
    <div class="popup__wrap popup__wrap_gallery">
        <div class="popup__close js-close-popup">
        </div>
        <div class="img">
            <img id="img-2" src="../img/works/example-3.jpg" alt="">
        </div>
    </div>
</div>

<div class="popup check-download">
    <div class="popup__wrap popup__wrap_big">
        <div class="popup__close js-close-popup">
        </div>
        <div class="popup__title">
            <span>Загрузка чека</span>
        </div>
        <div class="iframe-wrapper">
            <iframe id="iframe" src="https://tsenoanalizator.ru/receipt_frame/8caf9cdf-a333-df44-dfb0-970ca4f6208f/1189/ff9c518da59c421f45c510734d80bec3?style=https%3a%2f%2ftest7.airweb.studio%2fbarni-winter%2fiframe.css"
                class="iframe" frameborder="0"></iframe>
        </div>
    </div>
</div>