// Body BG -----------------
body {
    position: relative;

    &.no-scroll {
        overflow: hidden !important;
        height: 100%;
        width: 100%;
        position: fixed;
    }
}



// Main ------------------------
.main {
    padding-top: 70px;
    padding-bottom: 90px;
    position: relative;
}

// Form ---------------------
.form-wrap {
    margin-top: 40px;
    position: relative;
    z-index: 1;
}

.form {
    max-width: 680px;
    width: 100%;
    margin: 0 auto;

    &__globalCard {
        width: 48%;
    }

    &--popupMargin {
        margin-top: 20px;
    }

    &__tips {
        font-family: $fontRoboto;
        color: $textColorBlue;
        font-size: 14px;
        margin-bottom: 2px;
        width: 100%;

        &--medium {
            font-size: 16px;
            text-align: center;
            margin-bottom: 5px;
        }

        &--big {
            font-size: 18px;
            text-align: center;
            margin-bottom: 5px;
            color: $grayColor1;
        }
    }

    &__text {
        margin-top: 20px;
        text-align: center;

        &--minMargin {
            margin-top: 10px;
        }

        &--noMargin {
            margin: 0;
        }

        p:first-child {
            margin: 0 -15px;
        }
    }

    &__name-winner {
        margin-top: 30px;
        color: $bgColorBlueDark;
        font-size: 40px;
        text-transform: uppercase;
        font-family: $fontRoboto;
        line-height: 40px;
    }

    &__card {
        margin-top: 20px;

        &_flex {
            flex-wrap: wrap;
        }
    }

    &__input {
        position: relative;

        &.search-ico {
            input {
                padding: 13px 46px 13px 20px;
            }

            &:after {
                content: '';
                background-image: url(../img/svg/search.svg);
                position: absolute;
                right: 15px;
                top: 15px;
                width: 19px;
                height: 18px;
            }
        }

        .js-pass {
            position: absolute;
            width: 28px;
            height: 16px;
            top: 19px;
            right: 10px;
            cursor: pointer;
        }

        &_textarea {
            textarea {
                min-height: 110px;
            }
        }

        &_little {
            .select2-container--default .select2-selection--single .select2-selection__rendered {
                font-size: 14px;
                padding-right: 15px;
            }
        }

        &--maxWidth {
            max-width: 240px;
            margin: 0 auto;
        }
    }

    &__step {
        text-align: center;
    }

    .upload-file {
        display: none;

        &-card {
            position: relative;
            margin: 0 auto;
            width: 140px;
            margin-top: 2rem;

            .form__input {
                position: unset;
                width: 140px;
                height: 140px;
                border-radius: 17px;
                overflow: hidden;
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            .btn_close {
                display: none;
            }

            &.have-img {
                .upload-file-img {
                    display: block;
                }

                .btn_close {
                    display: inline-block;
                }
            }
        }

        &-img {
            width: auto;
            height: 100%;
            display: none;
            max-width: inherit;
        }

        &-bg {
            background: $bgColorRed;
            height: 140px;
            width: 140px;
            border-radius: 17px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.social {
    text-align: center;
    margin-top: 30px;
    position: relative;

    &__text {
        margin: 0 -15px 0;
    }

    &__icon {
        margin-top: 20px;

        li {

            &:nth-child(n+2) {
                margin-left: 10px;
            }
        }

        a {
            display: inline-block;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: $bgColorRed;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}






// Table ----------------------
.table {
    width: 100%;
    border-spacing: 3px;
    color: $textColorBlueDark;
    text-align: left;

    &--padding {
        border-spacing: 15px;
    }

    &--margin {
        text-align: left;
        margin-bottom: -30px;
    }

    .text {
        &_left {
            text-align: left;
        }

        &.description,
        .description {
            font-size: 12px;
        }
    }
}


// Personal Area ----------------

.personal-page {
    .white-bg-block {
        padding: 1rem 9rem;
    }
}

.personal-wrap {
    &__name {
        margin-bottom: 15px;
        text-align: center;

        .title {
            font-weight: 400;
        }
    }

    &__exit {
        font-size: 14px;
    }

    &__table {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 42vh;

        @media screen and (max-height: 599px) {
            height: 400px;
        }
    }

    .table {
        th {
            text-align: left;
            width: 50%;
            position: relative;
            height: 44px;

            &:nth-child(1) {
                width: 20%;
            }

            &:nth-child(2) {
                width: 30%;
            }

            &:nth-child(3) {
                width: 30%;
            }
        }

        td {
            text-align: left;
        }
    }

    .personal-date {
        p {
            padding-left: 20px;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                margin-top: -7px;
                left: 0;
                width: 14px;
                height: 14px;
                background: url("../img/svg/calendar.svg") no-repeat center center;
            }

            &:last-child {
                &:before {
                    background: url("../img/svg/clock.svg") no-repeat center center;
                }
            }
        }
    }

    .personal-status {
        .btn {
            margin-top: 0;
        }

        &.rejected {
            color: $textColorRed;
        }
    }

    .personal-text {

        &_blod {
            font-family: $fontRoboto;
        }
    }

    .gift {

        &_empty {
            color: #b2b2b2;
        }
    }
}


// Product --------------

.wrapper-slider {
    position: relative;
}

.white-block-slider {
    max-width: 760px;

    &__wrap {
        margin: 60px 0;
    }
}

.white-block-wrap {
    margin: 1rem 0;
}

.white-block-item {
    text-align: center;

    &__img {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;

        img {
            max-height: 100%;
        }

        &_260 {
            height: 260px;
        }
    }

    .title {
        color: $textColorBlue;
        margin: 1rem 0;
    }

    .description {
        margin-top: 1rem;
    }
}

.white-block-btn {
    background-color: $bgColorRed;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-image: url(../img/svg/arrow-slider-white.svg);
    background-size: 16px 26px;
    background-position: 20px;
    right: 20px;

    &.swiper-button-prev {
        transform: rotate(180deg);
        left: 20px;
    }
}

.white-block-pagination {
    margin: 65px auto;
    display: block;
    position: static;
}


// instruction

.instruction {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;

    &__step {
        width: 33.3333333%;
        text-align: center;
        margin: 1rem 0;

        .img {
            position: relative;
        }
    }

    @media screen and (max-width: 767px) {
        &__step {
            .img {
                &:after {
                    content: none;
                }
            }
        }
    }
}


.instruction__btn {
    background-image: url(../img/arrow.svg);

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.instruction__btn.swiper-button-prev {
    transform: rotate(180deg);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $bgColorBlue;
}

.swiper-pagination-bullet {
    background: $bgColorWhite;
    opacity: 1;
}


// Call-to-action

.call-to-action {
    background-color: $bgColorBlueDark;
    border-radius: 30px;
    color: $whiteColor;
    padding: 40px 20px 20px 20px;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto;

    &:before {
        content: '';
        background: url(../img/snow-cap-380.png);
        position: absolute;
        top: -20px;
        right: 0;
        left: 0;
        height: 40px;
    }

    .description {
        margin-top: 1rem;
    }

    div {
        color: $whiteColor;
    }

    .btn {
        padding: 13px 45px;
    }
}

.wrapper-call-to-action {
    margin: 50px auto 10px;
    position: relative;
    max-width: 380px;

    @media screen and (max-width: 767px) {
        margin-top: 110px;

        .call-to-action {
            width: 380px;
            left: 50%;
            transform: translate(-50%, 0);
        }

        &:before {
            content: '';
            background: url(../img/double-arrow-red.svg);
            width: 18px;
            height: 20px;
            position: absolute;
            top: -80px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

}


.dates {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__item {
        margin: 2rem 4vw;
        text-align: center;

        .img {
            margin-bottom: .5rem;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-height: 100%;
            }
        }

        .description {
            margin: .5rem 0;
        }

        .date {
            color: $textColorBlue;
        }
    }
}

// Rules
.rules {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;

    @media screen and (max-width: 991px) {
        padding: 1rem 3vw;
    }

    @media screen and (max-width: 800px) {
        flex-direction: column;
        padding: 1rem 3vw;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 2rem 0;

        .title {
            color: $textColorBlue;
            font-size: 1rem;
            margin-top: 1rem;
        }

        .description {
            margin-top: 1rem;

            b {
                font-size: 24px;
            }
        }
    }

    &__img {
        height: 180px;
        width: 180px;
        background-color: $bgColorWhite;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    }
}


// Winter-barni 

.winter-barni {
    padding: 50px 0;

    &__info {
        display: inline-block;

        .big-img {
            float: left;
            margin: 2rem;
        }

        .buttons {
            display: flex;
            flex-wrap: wrap;
        }

        .title.link {
            font-size: 1rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            margin: 1rem 1rem 0rem;

            img {
                margin-right: 1rem;
            }
        }

        .description {
            font-size: 18px;
            max-width: 870px;
            padding: 1rem;
        }

        .buttons {
            .btn {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }

        &_narrow {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 500px;
            margin: 0 auto;

            .btn {
                margin-bottom: 2rem;
            }
        }

        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;

            .big-img {
                float: none;
            }

            .description {
                text-align: center;
                order: -1;
            }

            .buttons {
                justify-content: center;
            }

        }
    }
}

.loaded-img {
    margin-bottom: 1rem;

    img {
        max-width: 100%;
        border-radius: 20px;
        display: block;
    }
}

// Winners

.winners {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    align-items: center;


    &__table {
        max-width: 540px;
        width: 100%;
    }

    .table {
        th:nth-child(1) {
            width: 35%;
        }
    }
}


.iframe-wrapper {
    #iframe {
        width: 100%;
        height: 400px;
    }
}