// Select ------------
body>.select2-container {
  width: auto !important;
  transition: none;
}

.select2-container {
  width: 100% !important;
  outline: none;
  z-index: 101;

  & * {
    outline: none;
  }

  .select2-selection {
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid $bgColorBlue;
    background-color: $whiteColor;
    color: $bgColorBlueDark;
    padding: 13px 20px;
    border-radius: 30px;
  }

  .select2-selection__rendered {
    padding-left: 0 !important;
  }

  .select2-selection__arrow b {
    display: none;
  }

  .select2-selection__arrow {
    height: 100% !important;
    width: 38px !important;

    &::before {
      border: none;
      background: url('../img/svg/arrow-select.svg') no-repeat center / cover;
      width: 16px;
      height: 12px;
      background-size: contain;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .select2-dropdown {
    border: 1px solid $bgColorBlue;
    border-top: none;
    transition: none;
  }

  .select2-results__option {
    color: $bgColorBlueDark;
    font-family: $fontRoboto;
  }
}

// Checkbox ------------
.checkbox {
  position: relative;
  padding: 7px 0;
  display: flex;
  flex-direction: column;
  color: $grayColor1;

  input {
    position: absolute;
    z-index: -1;
    opacity: -2;
  }

  &__text {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    font-size: 14px;
    order: -1;
    text-align: left;

    &::before {
      content: '';
      position: absolute;
      height: 17px;
      width: 17px;
      border: 1px solid $bgColorRed;
      left: 0;
      top: -4px;
    }
  }
}

.checkbox input:checked+.checkbox__text:after {
  position: absolute;
  content: '';
  background: url("../img/svg/ok-cheked.svg") no-repeat center / cover;
  width: 10px;
  height: 10px;
  left: 4px;
  top: 0;
}

.checkbox input:checked~.checkbox__text:after {
  position: absolute;
  content: '';
  background: url("../img/svg/ok-cheked.svg") no-repeat center / cover;
  width: 10px;
  height: 10px;
  left: 4px;
  top: 0;
}

// For IE --------------
.scroll-element.scroll-x.scroll-scrollx_visible.scroll-scrolly_visible {
  display: none;
}

// Scroll -----------------
.winners__table>.scroll-element,
.winners__table>.scroll-element div,
.personal-wrap__table>.scroll-element,
.personal-wrap__table>.scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 5;
}

.winners__table>.scroll-element div,
.personal-wrap__table>.scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.winners__table>.scroll-element.scroll-x,
.personal-wrap__table>.scroll-element.scroll-x {
  bottom: 2px;
  height: 8px;
  left: 0;
  width: 100%;
  display: none !important;
}

.winners__table>.scroll-element.scroll-y,
.personal-wrap__table>.scroll-element.scroll-y {
  height: 100%;
  right: 2px;
  top: 0;
  width: 8px;
  transition: none;
}

.winners__table>.scroll-element .scroll-element_outer,
.personal-wrap__table>.scroll-element .scroll-element_outer {
  overflow: hidden;
}

.winners__table>.scroll-element .scroll-element_outer,
.winners__table>.scroll-element .scroll-element_track,
.winners__table>.scroll-element .scroll-bar,
.personal-wrap__table>.scroll-element .scroll-element_outer,
.personal-wrap__table>.scroll-element .scroll-element_track,
.personal-wrap__table>.scroll-element .scroll-bar {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  transition: none;
}

.winners__table>.scroll-element .scroll-element_track,
.personal-wrap__table>.scroll-element .scroll-element_track {
  width: 4px;
  border: 1px solid $bgColorBlue;
  left: 50%;
  transform: translate(-50%, 0);
}

.winners__table>.scroll-element .scroll-bar,
.personal-wrap__table>.scroll-element .scroll-bar {
  background-color: $bgColorRed;
}

.winners__table>.scroll-element:hover .scroll-bar,
.personal-wrap__table>.scroll-element:hover .scroll-bar {
  background-color: $bgColorBlueDark;
}

.winners__table>.scroll-element.scroll-draggable .scroll-bar,
.personal-wrap__table>.scroll-element.scroll-draggable .scroll-bar {
  background-color: $bgColorBlueDark;
}

.winners__table>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track,
.personal-wrap__table>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -12px;
  transition: none;
}

.winners__table>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track,
.personal-wrap__table>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -12px;
  transition: none;
}

.winners__table>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size,
.personal-wrap__table>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -12px;
  transition: none;
}

.winners__table>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size,
.personal-wrap__table>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -12px;
  transition: none;
}