.container {
  width: 100%;
  padding: 0 15px;
  max-width: 980px;
  margin: 0 auto;

  &_min {
    max-width: 720px;
  }
}

.flex-cont {
  display: flex;
}

.justify-sb {
  justify-content: space-between;
}

.justify-sa {
  justify-content: space-around;
}

.justify-fe {
  justify-content: flex-end;
}

.justify-c {
  justify-content: center;
}

.align-c {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.margin-auto {
  margin: 0 auto;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

// Tabs
.tabs {
  margin-top: 0;

  &-wrapper {
    margin-top: 25px;

    @media screen and (max-width: 667px) {
      .white-bg-block {
        padding: 4rem 1rem !important;
        border-radius: 0;
      }

      .tabs__caption {
        .title {
          margin: 0;
        }
      }

      .table {
        font-size: 14px;
      }
    }
  }

  &__caption {
    display: flex;
    justify-content: center;

    .title {
      font-size: .7em;
      background: $bgColorBlue;
      padding: 1.5em 2em 1em 2em;
      margin: 0 1em;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      color: $whiteColor;

      &.active {
        background: $whiteColor;
        color: $textColorBlue;
      }
    }
  }

  &__content {
    display: none;
    margin-top: 0;

    &.active {
      display: block;
    }
  }
}


.characters {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  &__item {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    &_barni {
      right: 100%;
      margin-right: 2vw;
    }

    &_girl {
      left: 100%;
      margin-left: 2vw;
    }
  }

  &_home {
    .characters__item_girl {
      margin-left: 200px;
    }

    @media screen and (max-width: 767px) {
      .characters__item {
        &_barni {
          right: 67%;
          width: 150px;
          top: -10px;
        }
      }
    }

  }
}

.arrow {
  &:after {
    content: '';
    background-image: url(../img/arrow.svg);
    position: absolute;
    height: 20px;
    width: 13px;
    top: 50%;
    transform: translate(0, -50%);
  }

  &_right {
    &:after {
      right: 0;
    }
  }
}

.title {
  color: $bgColorBlueDark;
  font-weight: 400;
  font-family: $fontIntro;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;

  &_big {
    font-size: 30px;
  }

  &_sub {
    font-family: $fontRoboto;
    font-weight: 700;
    text-transform: inherit;
  }

  &_little {
    font-size: 1rem;
  }
}

.description {
  color: $bgColorBlueDark;
  font-weight: 400;
  font-family: $fontRoboto;

  &_blue {
    color: $textColorBlue;
  }
}

input,
textarea {
  border: 1px solid $bgColorBlue;
  background-color: $whiteColor;
  border-radius: 25px;
  color: $bgColorBlueDark;
  font-size: 18px;
  font-family: $fontRoboto;
  padding: 13px 20px;
  width: 100%;
  text-align: center;
}

::-ms-clear {
  display: none;
}

textarea {
  min-height: 229px;
  overflow: auto;
}

.white-bg-block {
  position: relative;
  margin-top: 40px;
  width: 100%;
  background-color: white;
  border-radius: 30px;

  &.tabs {
    margin-top: 0;
  }

  .characters {
    &__item {
      transform: none;
      top: 22%;

      &_girl {
        top: 0;
      }
    }
  }

  @media screen and (max-width: 768px) {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
  }
}

.pointer {
  cursor: pointer;
}

// Button ---------------------
.btn {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-family: $fontIntro;
  font-weight: 400;
  color: $whiteColor;
  background-color: $bgColorRed;
  padding: 22px 45px;
  border-radius: 100px;
  font-size: 1rem;
  margin-top: 1rem;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  &_yel {
    background-color: $bgColorYel;
    color: $bgColorBlueDark;

    &:hover {
      background-color: darken($bgColorYel, 10%) !important;
      color: $bgColorBlueDark !important;
    }
  }

  &_blue {
    background-color: $bgColorBlueDark;
    color: $whiteColor;

    &:hover {
      background-color: darken($bgColorBlueDark, 10%) !important;
      color: $whiteColor !important;
    }
  }

  &_narrow {
    padding: 22px 26px;
  }

  &_min {
    padding: 10px 15px;
    font-size: .7rem;
  }

  &_close {
    position: absolute;
    right: -12px;
    padding: 14px;
    top: -12px;
    margin: 0;

    &:after,
    &:before {
      content: '';
      width: 17px;
      height: 3px;
      background-color: $whiteColor;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &:hover {
    background-color: darken($bgColorRed, 10%);
  }

  &:focus {
    background-color: darken($bgColorRed, 10%);
  }
}

.wrapper-btn {
  text-align: center;
}

.link {
  color: $linkColorRed !important;
  text-decoration: underline;
}