.footer {
    background-color: $bgColorWhite;
    padding: 20px 0 5px;
    font-family: $fontRoboto;
    position: relative;
    z-index: 11;

    &__nav {
        display: flex;
        flex-wrap: wrap;
        color: $textColorBlue;
        justify-content: center;
        font-weight: 300;
        border-bottom: 1px solid lighten($bgColorBlue, 25%);
        padding-bottom: 1em;
        font-size: .9em;

        li {
            position: relative;

            &:first-child::before {
                display: none;
            }

            &+li {
                margin-left: 20px;
            }

            a {
                color: $textColorBlue;

                &:hover {
                    color: $linkColorYel;
                }
            }
        }
    }

    &__logo {
        margin-top: 35px;
        text-align: center;
    }

    &__author {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 11px;
        color: $footerTextColor;
        text-align: center;
    }
}