.header {
  height: 50px;
  position: relative;
  // Header
  z-index: 11;
  display: flex;
  align-items: center;
  background-color: $bgColorBlueDark;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    background-color: $bgColorBlue;
    width: 50px;
    height: 50px;


    @media screen and (max-width: 991px) {
      display: flex;
      transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);

      &.active {
        background-color: $bgColorYel;

        .icon-mob-menu {
          .path {
            position: absolute;

            &:first-child {
              display: none;
            }

            &:nth-child(2) {
              transform: rotate(-45deg);
            }

            &:nth-child(3) {
              transform: rotate(45deg);
            }
          }
        }

        .burger-text {
          display: none;

          &_close {
            display: block;
          }
        }
      }
    }
  }
}

// For mobile burger
.wrapper-burger {
  width: 50px;
  z-index: 2;
}

.icon-mob-menu {
  margin-bottom: 2px;
  height: 24px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .path {
    height: 4px;
    width: 20px;
    border-radius: 2px;
    background-color: white;
    display: block;
    margin: 2px 0px;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.burger-text {
  font-size: 9px;
  text-transform: uppercase;

  &_close {
    display: none;
  }
}



// End - For mobile burger

.nav {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 13px;
  width: 100%;

  &__link {
    transition: all .2s ease;

    @media screen and (max-width: 991px) {
      margin-bottom: 1.4em;
    }

    &+.nav__link {
      margin-left: 18px;

      @media screen and (max-width: 991px) {
        margin-left: 0;
      }
    }

    &:hover,
    &.active {
      color: $linkColorYel;
    }
  }

  .favorite {

    @media screen and (max-width: 1200px) and (min-width: 992px) {
      padding: .5rem;

      &__text {
        display: none;
      }
    }

    @media screen and (max-width: 991px) {
      position: relative;
      display: inline-block;

      &.btn {
        text-align: left;
      }

      &-wrapper {
        position: relative !important;
        left: -3rem !important;
        order: 200;
        transform: unset !important;
        margin: 3rem 0px 1rem 0;
      }

      &__visible {
        align-items: center;
      }

      &__text {
        margin-left: 15px !important;
        font-size: 18px;
      }

      &__invisible {
        margin-top: 1rem;
        flex-direction: row !important;
        align-items: center;
      }

      &__info {
        margin-left: 1rem;
      }
    }

    &-wrapper {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 1rem;
    }

    position: absolute;
    margin-top: 0;
    padding: 0;
    padding: .5rem 18px;
    top: 0%;
    font-family: $fontRoboto;
    color: $textColorBlue;
    background-color: $bgColorBlueDark2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -1rem;
    font-weight: 500;
    font-size: 13px;
    border-radius: 17px;

    &:hover {
      background-color: $whiteColor;

      .favorite__invisible {
        display: flex;
        flex-direction: column;
      }
    }

    &__invisible {
      display: none;


      .btn {
        margin: 6px 0;
      }
    }

    &__visible {
      display: flex;
    }

    &__text {
      margin-left: 5px;
      margin-top: 2px;
    }

    &__info {
      font-size: 11px;
      text-transform: initial;
    }


    &:hover {
      color: $textColorBlueDark;

      background-color: $whiteColor;

      svg use {
        fill: $textColorBlueDark;
      }
    }

  }

  @media screen and (max-width: 991px) {
    right: 100%;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: absolute;
    top: 0;
    background-color: #03569e;
    overflow: scroll;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 11vh 20%;
    font-size: 18px;
    max-height: 100vh;

    &.active {
      right: 0%;

      .logo {
        display: none;
      }
    }
  }
}

.logo {
  position: relative;
  top: 40px;
  margin: -50px 0 -40px 0;

  img {
    max-height: 105px;
  }

  &_mob {
    display: none;

    @media screen and (max-width: 991px) {
      display: block;
    }
  }
}

.personal-area {
  min-width: 60px;
  margin-left: 10px;

  &__photo {
    display: none;
  }

  &__info {
    width: 100%;
  }

  &_mobile {
    display: none;
  }

  @media screen and (max-width: 991px) {

    &_mobile {
      display: block;
      margin-top: 20%;
      margin-left: 0;
    }

    &__text {
      right: 15px;
      font-size: 11px;
      max-width: 60px;
    }
  }

  &__text {
    text-align: center;
    position: absolute;
    top: 0;
    padding: 4px 7px 7px;
    transition: all .2s ease;
    background-color: $bgColorRed;

    img {
      margin-bottom: 7px;
    }

    p {
      transition: all .2s ease;
    }

    &:hover {
      background-color: $bgColorRed;
    }

    &:hover p {
      color: $linkColorYel;
    }

    @media screen and (max-width: 991px) {
      &_v2 {
        position: relative;

        img {
          position: absolute;
          left: -3rem;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
    }
  }

  &__no-entry {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__entry {
    display: none;
  }

  &.login {

    .personal-area__entry {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    }

    .personal-area__text {
      background-color: #ffd07f;

      p {
        color: $bgColorBlueDark;
      }
    }

    .personal-area-name {
      display: none;
    }

    .personal-area__no-entry {
      display: none;
    }
  }
}

.container-info__score {
  display: none;
}

.personal-area-photo {
  display: none;
  margin-right: 7px;
  background-color: #ffd07f;
  margin: -30px 0 -20px;
  width: 50px;
  height: 50px;
  position: relative;
  flex-shrink: 0;

  &_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 26px;
  }
}