// Cookies -----------
.cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $cookieBg;
    padding: 25px 0 20px;
    text-align: center;
    transition: all .2s linear;
    opacity: 0;
    z-index: -1;
    color: $whiteColor;
    font-family: $fontRoboto;

    &__text {
        margin: 0 auto 10px;
        width: 70%;

        a {
            color: $linkColorYel;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                bottom: 1px;
                left: 0;
                right: 0;
                height: 1px;
                background-color: $linkColorYel;
            }
        }
    }

    &.js-show {
        opacity: 1;
        z-index: 99;
    }
}

// Popup -------------
.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba($bgColorBlueDark, .7);
    z-index: -1;
    opacity: 0;
    transform: scale(0);
    transition: all .2s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    text-align: center;



    // Show
    &.js-popup-show {
        z-index: 100;
        opacity: 1;
        transform: scale(1);
    }

    &__close {
        position: absolute;
        top: -65px;
        right: 0;
        width: 40px;
        height: 40px;
        cursor: pointer;
        text-align: center;
        background: white;
        border-radius: 100px;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:before {
            content: '';
            width: 25px;
            height: 3px;
            background-color: $bgColorRed;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:after {
            content: '';
            width: 25px;
            height: 3px;
            background-color: $bgColorRed;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover {
            background: darken($color: white, $amount: 10%)
        }
    }

    &__wrap {
        background-color: $whiteColor;
        max-width: 320px;
        width: 100%;
        padding: 30px 30px 50px;
        position: absolute;
        top: 120px;
        left: 50%;
        margin-bottom: 100px;
        transform: translateX(-50%);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;

        &_gallery {
            border-radius: 30px;
            padding: 12px;
            max-width: 540px;

            &:before {
                content: none !important;
            }

            .popup__close {
                top: -11px;
                right: -11px;
            }

            .img {
                border-radius: 20px;
                overflow: hidden;

                img {
                    display: block;
                    width: 100%;
                }
            }
        }

        &:before {
            content: '';
            background: url(../img/popup-decor-vs-bear.svg);
            width: 380px;
            height: 188px;
            position: absolute;
            top: -93px;
            left: 50%;
            transform: translate(-51%, 0);
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;

        &--min {
            font-size: 21px;
            color: #4a4a4a;
            margin-bottom: 10px;
            margin-top: 40px;
        }
    }

    &__text {
        text-align: center;
        font-family: $fontRoboto;
        font-size: 18px;

        &_img {
            margin-bottom: 20px;
        }

        &--marginTop {
            margin-top: 30px;
        }

        &_color-w {
            a {
                color: $linkColorYel;
                text-decoration: underline;
            }
        }
    }
}

.icon-close-btn {
    font-size: 20px;
}

// Error Validate
span div.error {
    font-family: $fontRoboto;
    color: #ff0000;
    font-size: 12px;
    margin-top: 3px;
}

.try-number {
    background-color: $bgColorRed;
    color: $whiteColor;
    padding: 1px 6px;
    border-radius: 100px;
}