// Reset ---------------
$fontIntro: 'Intro',
sans-serif;
$fontRoboto: 'Roboto',
sans-serif;
$fontSize: 16px;
$whiteColor: #ffffff;

// Color --------------
$grayColor1: #4a4a4a;
$linkColorYel: #ffc944;
$linkColorRed: #ef2f3d;
$textColorBlue: #48c2f4;
$textColorRed: #ef2f3d;
$textColorBlueDark: #03569e;
$bgColorBlue: #48c2f4;
$bgColorRed: #ef2f3d;
$bgColorYel: #ffcf4c;
$bgColorWhite: #ebf2f6;
$bgColorBlueDark: #03569e;
$bgColorBlueDark2: #00437e;


// Cookies ----------
$cookieBg: #00468b;



// Footer -----------
$footerBg: #ffffff;
$footerTextColor: #4d1d85;